.product__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 80%), 1fr));
  gap: 1rem;
}

.product__img {
  display: flex;
  justify-content: center;
  max-height: 500px;
}

.product__img > img {
  max-width: 100%;
  object-fit: contain;
  aspect-ratio: 16/9;
  /* better combination with objectfit cover and contain  */
}

.limitTextHeight {
  height: 20px;
  overflow: hidden;
}

.small__image > img {
  max-width: min(200px, 100%);
  object-fit: contain;
  aspect-ratio: 16/9;
  opacity: 0.6;
}
.large__image > img {
  max-width: 90%;
  object-fit: contain;
}

.small__image > img:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3ms linear 0.15ms;
}
