<div class="container">
  <p>home works!</p>

  <div class="p-fluid grid py-4">
    <!-- form container -->
    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <p-dropdown
          [options]="cities"
          [(ngModel)]="selectedCity"
          placeholder="Select Functions"
          optionLabel="name"
          inputId="float-label"
        ></p-dropdown>
        <label for="float-label">Select Functions</label>
      </span>
    </div>
    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <p-multiSelect
          inputId="float-label"
          [options]="cities"
          [(ngModel)]="selectedCities"
          optionLabel="name"
        ></p-multiSelect>
        <label for="float-label">Select Variables</label>
      </span>
    </div>
    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <input
          pInputText
          id="mobile"
          pattern="^(0|91)?[6-9][0-9]{9}$"
          [(ngModel)]="inputMobile"
        />
        <label htmlFor="mobile">Mobile/Whatsapp Number</label>
      </span>
    </div>
    <div class="field col-12">
      <div class="card">
        <p-button
          (click)="showDialog('top')"
          icon="pi pi-arrow-down"
          label="Top"
          styleClass=" w-2 p-button-warning"
        ></p-button>
      </div>
    </div>
    <!-- form container -->
  </div>
</div>

<section id="image__gal">
  <div>
    <h3 class="text-4xl py-2 text-center text-orange-400">
      Product image gallery with details
    </h3>
    <div class="grid align-items-center">
      <div class="col-12 md:col-6 px-4">
        <div class="p-3 flex gap-2">
          <div class="small__image flex flex-column gap-4">
            <img
              [src]="image"
              (click)="changeSourceImage(image)"
              alt=""
              srcset=""
              *ngFor="let image of images"
            />
          </div>
          <div class="large__image flex-none">
            <img [src]="thumbnail" class="h-full" alt="" srcset="" />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 px-4">
        <div class="card py-6">
          <p class="p-2">
            Supported formats include HEVC and H.264 HDR with Dolby Vision,
            HDR10, and HLG Up to 4K HDR AirPlay for mirroring, photos, and video
            out to Apple TV (2nd generation or later) or AirPlay-enabled smart
            TV Video mirroring and video out support: Up to 1080p through
            Lightning Digital AV Adapter and Lightning to VGA Adapter (adapters
            sold separately)7
          </p>
          <p class="p-2">
            Built-in rechargeable lithium-ion battery MagSafe wireless charging
            up to 15W9 Qi wireless charging up to 7.5W9 Charging via USB to
            computer system or power adapter Fast-charge capable: Up to 50%
            charge in 30 minutes10 with 20W adapter or higher (sold separately)
          </p>
          <div class="flex gap-4 justify-content-center pt-2">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button
              label="Cancel"
              icon="pi pi-times"
              styleClass="p-button-secondary"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-4">
    <h3 class="text-4xl py-2 text-center text-orange-400">List of products</h3>

    <ng-container *ngIf="products">
      <div class="product__cards">
        <div class="card" *ngFor="let product of products">
          <p-card [header]="product.title" [subheader]="product.category">
            <ng-template pTemplate="header">
              <div class="product__img">
                <img alt="Card" [src]="product.thumbnail" />
              </div>
            </ng-template>
            <div [ngClass]="{ limitTextHeight: isReadMore }">
              {{ product.description }}
            </div>
            <!-- <div class="card mt-2 flex justify-content-center">
              <p-button
                [label]="isReadMore ? 'Read More' : 'Read Less'"
                (click)="showText()"
                text="true"
                severity="info"
              ></p-button>
            </div> -->
            <ng-template pTemplate="footer">
              <p-button label="Save" icon="pi pi-check"></p-button>
              <p-button
                label="Cancel"
                icon="pi pi-times"
                styleClass="p-button-secondary"
                [style]="{ 'margin-left': '.5em' }"
              ></p-button>
            </ng-template>
          </p-card>
        </div>
      </div>
    </ng-container>
    <div></div>
  </div>
</section>

<p-dialog
  header="Invalid mobile number"
  [(visible)]="visible"
  [position]="position"
  [style]="{ width: '50vw' }"
>
  <p class="text-500">
    Please enter a valid Indian mobile or WhatsApp number. The format should be
    like 9876543210.
  </p>
</p-dialog>
