<div class="container">
  <p>home works!</p>

  <div class="p-fluid grid py-4">
    <!-- form container -->
    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <p-dropdown
          [options]="cities"
          [(ngModel)]="selectedCity"
          placeholder="Select Functions"
          optionLabel="name"
          inputId="float-label"
        ></p-dropdown>
        <label for="float-label">Select Functions</label>
      </span>
    </div>
    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <p-multiSelect
          inputId="float-label"
          [options]="cities"
          [(ngModel)]="selectedCities"
          optionLabel="name"
        ></p-multiSelect>
        <label for="float-label">Select Variables</label>
      </span>
    </div>
    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <input
          pInputText
          id="mobile"
          pattern="^(0|91)?[6-9][0-9]{9}$"
          [(ngModel)]="inputMobile"
        />
        <label htmlFor="mobile">Mobile/Whatsapp Number</label>
      </span>
    </div>
    <div class="field col-12">
      <div class="card">
        <p-button
          (click)="showDialog('top')"
          icon="pi pi-arrow-down"
          label="Top"
          styleClass=" w-2 p-button-warning"
        ></p-button>
      </div>
    </div>
    <!-- form container -->
  </div>
</div>

<p-dialog
  header="Invalid mobile number"
  [(visible)]="visible"
  [position]="position"
  [style]="{ width: '50vw' }"
>
  <p class="text-500">
    Please enter a valid Indian mobile or WhatsApp number. The format should be
    like 9876543210.
  </p>
</p-dialog>
